#user_profile_form input[type=text]
{
    width: 25em;
    border: 1px solid #d3d3d3;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
    box-shadow:         inset 0px 2px 4px #eee;
    -moz-box-shadow:    inset 0px 2px 4px #eee;
    -webkit-box-shadow: inset 0px 2px 4px #eee;
    margin: 0px !important;
}

#user_profile_form input[type=text]:focus
{
    outline: none;
    border-color: #999;
}

#user_profile_form .info
{
    display: none;
    font-size: 0.8em;
    color: #666;
}

#username
{
    font-size: 2em;
}

#user_profile_form #saved_banner
{
    color: white;
    background-color: #154890;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: none;
}