.coverage
htmlcov/
build/
*~
.DS_Store
.idea/
__pycache__/
*.pyc
*.sql
*.tgz
*.swp
*.swo
/apps/migrations
/backups
/media
/conf
/conf/apikeys.py
/conf/dbs.py
/conf/emails.py
/conf/geoip.py
/conf/mvn.py
/conf/paths.py
/maven-app-repo-settings.xml
/download/geolite/GeoIP.dat
/download/geolite/GeoLiteCity.dat
/download/geolite/last_updated
/logs
/myvirtualenv
/xapian-core-1.4.5
/xapian-bindings-1.4.5
/xapian_indices
/whoosh_index
.vagrant/

# Database
*.sqlite3

