django==2.2.21  # requires django.utils.importlib
python-geoip
django-social-auth==0.7.28
social-auth-app-django==3.1.0
sphinx
urllib3
Whoosh==2.7.4
django-haystack==2.8.1
Pillow
gevent

# With Django 2.2.12 PyMySQL is no longer an option
# since it doesn't meet the 1.3.12 version requirement
# and since database can be a user choice
# commenting out mysqlclient requirement
# mysqlclient>=1.3.12
