django==4.0  # requires django.utils.importlib
social-auth-app-django==5.4.2
sphinx
urllib3
Whoosh==2.7.4
django-haystack==3.3.0
Pillow
gevent

# This does not appear to be used anymore and it is
# causing travis builds to fail
# python-geoip

# With Django 2.2.12 PyMySQL is no longer an option
# since it doesn't meet the 1.3.12 version requirement
# and since database can be a user choice
# commenting out mysqlclient requirement
# mysqlclient>=1.3.12
