{% extends 'base.html' %}
{% load static %}

{% block more_head %}
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/app_page_edit.css" />
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/app_stars.css" />
<script type="text/javascript" src="{% get_static_prefix %}common/lib/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}common/lib/js/jquery.timeago.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}common/lib/js/Markdown.Converter.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}common/lib/js/Markdown.Sanitizer.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}common/js/setup_ajax_for_csrf.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}common/js/markdown_util.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}common/js/msgs.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}apps/js/jquery.tablednd.js"></script>
{% endblock %}

{% block title %}- Edit{% endblock %}

{% block content %}
{# app header #}
<div class="row" style="margin-bottom: 3em;">
  <div class="span1" style="line-height: 74px;">
    <img id="cy-app-icon" src="{{ app.icon_url }}" rel="tooltip" title="Click here to choose another icon">
  </div>
  <div class="span7">
    <h2 id="app-title">
      <span rel="tooltip" title="Your app name cannot be changed">
        {{ app.fullname }}
      </span>
    </h2>
    <input class="span7" id="cy-app-description" type="text" placeholder="Enter a short description of your app here" value="{% if app.description %}{{ app.description|escape }}{% endif %}" maxlength="{{ app_description_maxlength }}">
  </div>
</div>
{# end app header #}

<div class="row">
  {# tabs #}
  <div class="span8">
    {# tab titles #}
    <ul id="cy-app-info-tabs" class="nav nav-tabs">
      <li class="active"><a href="#cy-app-details-tab" data-toggle="tab"><b>Details</b></a></li>
      {% if app.has_releases %}
      <li><a href="#cy-app-releases-tab" data-toggle="tab"><b>Release History</b></a></li>
      {% endif %}
    </ul>
    {# end tab titles #}

    {# tab content #}
    <div id="cy-app-info-content" class="tab-content">
      {# details tab #}
      <div class="tab-pane active" id="cy-app-details-tab">
        {# categories #}
        <div class="row"><div class="span8"><h6 class="muted">CATEGORIES</h6></div></div>
                    
        <div class="row">
          <div class="span8" id="cy-app-tags-list">
          </div>
        </div>

        <div class="row">
          <div class="span3">
            <button id="cy-app-tag-add-btn" class="btn btn-small">
              <i class="icon-plus"></i> Add
            </button>
          </div>
        </div>
        {# end categories #}

        <div class="row"><div class="span8"><hr></div></div>

        {# screenshots #}
        <div class="row"><div class="span8"><h6 class="muted">SCREENSHOTS</h6></div></div>
                    
        <div class="row">
          <div class="span8" id="cy-app-screenshots">
          </div>
        </div>

        <div class="row">
          <div class="span4">
            <button id="cy-app-screenshot-add-btn" class="btn btn-small">
              <i class="icon-plus"></i> Add
            </button>
            <button id="cy-app-screenshot-delete-btn" class="btn btn-small disabled">
              <i class="icon-trash"></i> Delete
            </button>
          </div>
        </div>
        {# end screenshots #}

        <div class="row"><div class="span8"><hr></div></div>

        {# app details #}
        <div class="row"><div class="span8"><h6 class="muted">DETAILS</h6></div></div>

        <div class="row">
          <div class="span8">
            <textarea id="cy-app-details" class="span8" rows="15">{% if app.details %}{{ app.details }}{% endif %}</textarea>
          </div>
        </div>

        <div class="row"><div class="span3"><h6 class="muted">PREVIEW</h6></div></div>

        <div class="row">
          <div class="span8">
            <div id="cy-app-details-preview"></div>
          </div>
        </div>
        {# end app details #}

        <div class="row"><div class="span8"><hr></div></div>

        {# authors #}
        <div class="row"><div class="span8"><h6 class="muted">AUTHORS</h6></div></div>

        <div class="row">
          <div class="span8">
            <table class="table table-bordered table-striped" id="cy-app-authors">
              <thead>
                <th>Name</th>
                <th>Institution (Optional)</th>
                <th></th>
              </thead>
            </table>
            <button class="btn btn-small" id="cy-app-author-add"><i class="icon-plus"></i> Add</button>
          </div>
        </div>
        {# end authors #}
      </div>
      {# end app details tab #}

      {# releases tab #}
      {% if app.has_releases %}
      <div class="tab-pane" id="cy-app-releases-tab">
        <div class="row">
          <div class="span7">
            {% for release in app.releases %}
            <div class="cy-release" release_id="{{ release.id }}">
              <h4>
                {{ release.version }}
                <small><abbr class="timeago" title="{{ release.created_iso }}"></abbr></small>
                <button class="btn btn-small {% if release.dependents.count %}disabled{% endif %} cy-release-delete"><i class="icon icon-trash"></i> Delete</button>
              </h4>
            
              <p><strong>Release Notes</strong></p>
              <textarea class="cy-release-notes" rows="5">{% if release.notes %}{{ release.notes }}{% endif %}</textarea>
              <h6 class="muted">PREVIEW</h6>
              <div class="cy-release-notes-preview"></div>
              <hr>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
      {# end releases tab #}
    </div>
    {# end tab content #}
  </div>
  {# end tabs #}
        
  {# right panels #}
  <div class="span3 offset1">
    {# save & cancel buttons #}
    <div id="save-actions">
      <a id="save-btn" class="btn btn-success disabled"><i class="icon-ok icon-white"></i> Save</a>
      <a id="cancel-btn" class="btn btn-danger"><i class="icon-remove icon-white"></i> Cancel</a>
    </div>
    {# end save & cancel buttons #}
            
    {# editors #}
    <div class="well">
      <h6 class="muted panel-title">Editors</h6>
      <ul class="nav nav-list" id="editors-list">
      </ul>
      <button id="cy-app-editor-add" class="btn btn-small"><i class="icon-plus"></i> Add</button>
      <button id="cy-app-editor-delete" class="btn btn-small disabled"><i class="icon-trash"></i> Delete</button>
    </div>
    {# end editors #}

    {# resources #}
    <div class="well cy-right-panel">
      <h6 class="muted panel-title">Resources</h6>

      <fieldset class="control-group" id="cy-app-license-text">
        <label>License:</label>
        <input type="text" placeholder="License URL (https://...)" value="{% if app.license_text %}{{ app.license_text }}{% endif %}">
        <input type="checkbox" {% if app.license_confirm %}checked{% endif %}> Require confirmation
        <span class="help-block">If checked, must be a string or SSL URL ie: <em>https://foo.com/license.txt</em></span>
      </fieldset>
      <fieldset class="control-group" id="cy-app-website">
        <label><i class="icon-home"></i> Website:</label>
        <input type="text"  value="{% if app.website %}{{ app.website }}{% endif %}">
      </fieldset>
      <fieldset class="control-group" id="cy-app-tutorial">
        <label><i class="icon-book"></i> Tutorial:</label>
        <input type="text" value="{% if app.tutorial %}{{ app.tutorial }}{% endif %}">
      </fieldset>
      <fieldset class="control-group" id="cy-app-citation" validate_regexp="^\d+$">
        <label><i class="icon-heart"></i> Citation:</label>
        <input type="text" placeholder="PubMed ID" value="{% if app.citation %}{{ app.citation }}{% endif %}">
        <span class="help-block">Example: <em>23595664</em></span>
      </fieldset>
      <fieldset class="control-group" id="cy-app-coderepo">
        <label><i class="icon-list-alt"></i> Code Repository:</label>
        <input type="text" value="{% if app.coderepo %}{{ app.coderepo }}{% endif %}">
      </fieldset>
      <fieldset class="control-group" id="cy-app-automation">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <label><i class="fa fa-gear fa-spin" style="color:black"></i> Automation Support:</label>
        <input type="text" value="{% if app.automation %}{{ app.automation }}{% endif %}">
      </fieldset>
      <fieldset class="control-group" id="cy-app-contact">
        <label><i class="icon-envelope"></i> Contact Email:</label>
        <input type="text" value="{% if app.contact %}{{ app.contact }}{% endif %}">
      </fieldset>
    </div>
    {# end resources #}
  </div>
  {# end right panels #}
</div>
{% endblock %}