{% extends "nav_panel.html" %}
{% load static %}
{% load i18n %}
{% load app_buttons %}

{% block main %}
    

    <form method="get" action=".">
 <!--       {% if query %}
            <h3>Results</h3>
	    <h4>Apps</h4>
	  
	    {% for result in page.object_list %}
	    <p>
                    <a href="http://cytoscape-app-dev.ucsd.edu/apps/{{ result.object.name}}">{{ result.object.name }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
              
	    {% for result in page.object_list %}
	    <p>  <h6> {{result.object}} </h6> </p>
	    {% endfor %}

	  -->
	      <div class="row"><div class="span8"><h3>Apps</h3></div></div>

    {% list_of_apps_search page.object_list True %}


	    <h4>Authors</h4>
	                {% for result in page.object_list %}
			<ul>{% for author in result.object.authors.all %}
			<li><a href="http://cytoscape-app-dev.ucsd.edu/apps/with_author/{{author.name}}">{{ author.name }} ({{ author.institution }})</a></li>
		    {% endfor %}
		    </ul>
            {% empty %}
                <p>No results found.</p>

			{% endfor %}
<h4>Tags</h4>
<ul>  {% for result in page.object_list %}
                        <li>{% for tag in result.object.tags.all %}
					<a href="http://cytoscape-app-dev.ucsd.edu/apps/with_tag/{{tag.name}}">{{ tag.name }}</a>,
					{% endfor %}</li>
                </ul>
               
            {% empty %}
                <p>No results found.</p>
             
            {% endfor %} 

<!--
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
-->
    </form>
{% endblock %} 
