[class^="icon-cy-stars-"], [class*="icon-cy-stars-"] {
    background-image: url('../../apps/img/stars_glyph.png');
    width: 85px;
    height: 14px;
}

.icon-cy-stars-empty {
    background-position: 0 0;
}

.icon-cy-stars-filled {
    background-position: 0 -20px;
}
