#cy-nav-panel #title {
  padding-bottom: 0.5em;
}

#cy-tag-list h5 {
    margin: 0;
}

#cy-tag-list li {
  white-space: nowrap;
}

#cy-tag-list li .count {
  visibility: hidden;
}

#cy-tag-list li:hover .count {
  visibility: visible;
}

#cy-tag-cloud {
  font-size: 0.9em;
  line-height: 2.0em;
  text-align: center;
  overflow: auto;
}

#cy-tag-cloud a {
  white-space: nowrap;
}

.cy-tag-cloud-active {
    border-bottom: 1px dotted black;
}

.icon-cy-tag-cloud {
  background-position: 0px 3px;
}
