{% extends "nav_panel.html" %}
{% load app_buttons %}

{% block main %}
  {% if results.Tag %}
    <div class="row"><div class="span8"><h3>Tags</h3></div></div>
    <div class="row">
      <div class="span8" style="margin-bottom: 1em;">
        {% for tag in results.Tag %}
          <a class="link" href="{% url 'tag_page' tag.name %}">{{tag.fullname}}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if results.Author %}
    <div class="row"><div class="span8"><h3>Authors</h3></div></div>
    <div class="row">
      <div class="span8" style="margin-bottom: 1em;">
        <ul>
          {% for author in results.Author %}
              <li>
              <a href="{% url 'author_page' author.name %}">
                {{ author.name }}
                {% if author.institution %}
                  ({{ author.institution }})
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
  
  {% if results.App %}
    <div class="row"><div class="span8"><h3>Apps</h3></div></div>
    {% list_of_apps results.App True %}
  {% endif %}

  {% if not results.Tag and not results.App and not results.Author %}
    <div class="row"><div class="span8"><h3>No results found</h3></div></div>
  {% endif %}
{% endblock %}
