{% extends "base.html" %}
{% load static %}

{% block title %}- Submission Done!{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>
                    Submission Done!
                    <small>
                        {{ app_name }}
                    </small>
                </h1>
            </div>
            Your app has been submitted! You'll be notified by email when your app has been approved.
        </div>
    </div>
{% endblock %}
    
